.navigatorDesign {
    color: white;
    font-weight: bold;
    margin: 1em;
    user-select: none;
    
    transition: 0.2s;
  }
  
  .navigatorDesign:hover {
    color: grey;
    transition: 0.2s;
    cursor: pointer;
  }