.adminServicesDesign{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adminServicesContent{
    height: 88vh;
    width: 100vw;

    background-color: #7f7f7f;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonsSection{
    height: 10vh;
    width: 100vw;

    margin-right: 5em;
    margin-left: 5em;

    padding-right: 5em;
    padding-left: 5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.newServiceBtn, .backAdminPanel{
    color: #fff;
    transition: 0.5s;

    height: 2em;
    width: 6em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.newServiceBtn{
    background-color: green;
}

.backAdminPanel{
    background-color: rgb(68, 68, 68);
}

.newServiceBtn:hover{
    background-color: greenyellow;
    transition: 0.5s;
    cursor: pointer;
}

.backAdminPanel:hover{
    background-color: dimgray;
    transition: 0.5s;
    cursor: pointer;
}

.servicesContent{
    height: 78vh;
    width: 100vw;

    background-color: #7f7f7f;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrowBackIcon, .serviceIcon{
    margin-left: 1em;
}

.buttonSection{
    display: flex;
    flex-direction: row;
}